.cpcache
target/
metabase.jar
plugins/
.DS_Store
*.db
.clj-kondo/*
!.clj-kondo/config/
.clj-kondo/config/*
!.clj-kondo/config/modules/
.clj-kondo/config/modules/*
!.clj-kondo/config/modules/config.edn
.claude
.idea
*.iml
.vscode