{:paths ["src" "resources"]
 
 :deps {clj-http/clj-http {:mvn/version "3.13.0"}}

 :mvn/repos
 {"metabase-maven-downloads" {:url "https://s3.amazonaws.com/metabase-maven-downloads"}
  "redshift" {:url "https://s3.amazonaws.com/redshift-maven-repository/release"}
  "opensaml" {:url "https://build.shibboleth.net/nexus/content/repositories/releases/"}}
 
 :aliases
 {:dev
  {:extra-deps
   {clj-kondo/clj-kondo {:mvn/version "2023.05.18"}
    cljfmt/cljfmt {:mvn/version "0.9.2"}}}
  
  :lint
  {:main-opts ["-m" "clj-kondo.main" "--lint" "src"]}
  
  :format
  {:main-opts ["-m" "cljfmt.main" "fix"]}
  
  :splint {:extra-deps {io.github.noahtheduke/splint {:mvn/version "1.21.0"}
                                org.clojure/clojure {:mvn/version "1.11.1"}}
                   :main-opts ["-m" "noahtheduke.splint"]}
  
  :test
  {:extra-paths ["test"]
   :extra-deps {metabase/metabase-core {:local/root "./metabase" :exclusions [redux/redux]}
           ;; Use the same redux version as Metabase (their fork)
                redux/redux {:git/url "https://github.com/metabase/redux"
                             :sha "4a37feaf817a2a6b5ef688c927f6fd4375964433"}
                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test
   :exec-args {:dirs ["test"]}}
   
  :coverage
  {:extra-paths ["test"]
   :extra-deps {metabase/metabase-core {:local/root "./metabase" :exclusions [redux/redux]}
                redux/redux {:git/url "https://github.com/metabase/redux"
                             :sha "4a37feaf817a2a6b5ef688c927f6fd4375964433"}
                cloverage/cloverage {:mvn/version "1.2.4"}}
   :main-opts ["-m" "cloverage.coverage" 
               "--src-ns-path" "src"
               "--test-ns-path" "test"
               "--summary"
               "--no-html"
               "--no-text"
               "--fail-threshold" "0"]}}}